<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drools Frontend</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    {% import "macros.html" as macros %}
    <h1>Drools Frontend</h1>
    <form action="{{ url_for('run_outbound_port_abuse') }}" method="post">
        <button type="submit">Proveri Outbound Port Abuse</button>
    </form>

    <form action="{{ url_for('run_outbound_icmp_tuneling') }}" method="post">
        <button type="submit">Proveri Outbound ICMP Tunneling</button>
    </form>

    <form action="{{ url_for('run_outbound_dns_tunneling') }}" method="post">
        <button type="submit">Proveri Outbound DNS Tunneling</button>
    </form>

    <form action="{{ url_for('run_outbound_distributed_syn_flood') }}" method="post">
        <button type="submit">Proveri Outbound Distributed SYN Flood</button>
    </form>

    <form action="{{ url_for('run_outbound_syn_flood') }}" method="post">
        <button type="submit">Proveri Outbound SYN Flood</button>
    </form>

    {% if result %}
    <div class="result-box">
        <div class="message">{{ result.message }}</div>
        <!-- Broj aktiviranih pravila -->
        {% if result.count %}
            <p><strong>Activated rules:</strong> {{ result.count }}</p>
        {% endif %}

        <!-- Lista fired pravila -->
        {% if result.firedRules %}
            <p><strong>Rules:</strong></p>
            <ul>
                {% for rule in result.firedRules %}
                    <li>{{ rule }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <!-- Tabela uređaja -->
        <!-- {% if result.devices %}
            {{ macros.render_table(
                ['IP adresa', 'OS Name', 'OS Type', 'OS Version'],
                devices
            ) }}
        {% endif %}
        {% endif %} -->
    


    <!-- {% if tempsession_table %}
        <h3>Rezultat skeniranja mrežnih servisa</h3>
        {{ macros.render_table(
            ['ID', 'Device IP', 'Naziv / CVE kod', 'Verzija / Severity', 'Port', 'Opis / Rationale'],
            tempsession_table
        ) }}
    {% endif %} -->



    {% if packets_table %}
        <h3>Packets</h3>
        {{ macros.render_table(
            ['ID', 'Source IP', 'Dest IP', 'Source Port', 'Dest Port', 'Protocol', 'Flags', 'Payload Size', 'DNS Query', 'Execution Time'],
            packets_table
        ) }}
    {% endif %}

    {% if alerts_table %}
        <h3>Alerts</h3>
        {{ macros.render_table(
            ['ID', 'Code', 'Severity', 'Description', 'Execution Time'],
            alerts_table
        ) }}
    {% endif %}

    {% if vulnerabilities_table %}
        <h3>Vulnerabilities</h3>
        {{ macros.render_table(
            ['ID', 'Name', 'Severity', 'Description'],
            vulnerabilities_table
        ) }}
    {% endif %}

    {% if recommendations_table %}
        <h3>Recommendations</h3>
        {{ macros.render_table(
            ['ID', 'Message', 'Timestamp'],
            recommendations_table
        ) }}
    {% endif %}

    </div>

</body>
</html>
