<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drools Frontend</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Drools Frontend</h1>
    <form action="{{ url_for('run_drools') }}" method="post">
        <button type="submit">Dodaj uređaje</button>
    </form>

    {% if result %}
    <div class="result-box">
        <div class="message">{{ result.message }}</div>
        <!-- Broj aktiviranih pravila -->
        {% if result.countTemp %}
            <p><strong>Activated rules:</strong> {{ result.countTemp }}</p>
        {% endif %}

        <!-- Lista fired pravila -->
        {% if result.firedTempRules %}
            <p><strong>Rules:</strong></p>
            <ul>
                {% for rule in result.firedTempRules %}
                    <li>{{ rule }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if result.devices %}
        <table>
            <tr>
                <th>IP adresa</th>
                <th>OS Name</th>
                <th>OS Type</th>
                <th>OS Version</th>
            </tr>
            {% for dev in result.devices  %}
            <tr>
                <td>{{ dev.ip }}</td>
                <td>{{ dev.osName }}</td>
                <td>{{ dev.osType }}</td>
                <td>{{ dev.osVersion }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Nema uređaja u odgovoru.</p>
        {% endif %}
    </div>
    {% endif %}
</body>
</html>
